.container{
    .title{
        h1{
            background-color: yellow;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
    }
    form{

    }
    table{

    }
    .pagination{

    }
}