/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
.page-layout {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: black;
}

.header-page {
  height: 15%;
}
.header-page .head {
  background-color: #d1d5db;
  height: 60%;
}
.header-page .navigation {
  background-color: #9ca3af;
  height: 40%;
}

.body-page {
  width: 100%;
  height: 85%;
  display: flex;
}

.body-page .menu-body {
  flex: 1;
  display: grid;
  place-content: center;
  background-color: #16a34a;
}
.body-page .carts {
  flex: 3;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #fef2f2;
}
.body-page .carts .cart {
  width: calc((100% / 4) - 10px);
  background-color: #fff;
  display: grid;
  place-content: center;
}

.body-page .article {
  flex: 1;
  background-color: #93c5fd;
  display: grid;
  place-content: center;
}